.block_wp-level {
    background-size: 150px 150px;
    color: #fff;
    font-size: 4em;
    height: 150px;
    width: 150px;
    line-height: 110px;
    margin: 10px auto;
    text-align: center;

    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.block_wp-level.level-1 {
    background: url([[pix:block_weplay|level_1]]) no-repeat;
}
.block_wp-level.level-2 {
    background: url([[pix:block_weplay|level_2]]) no-repeat;
}
.block_wp-level.level-3 {
    background: url([[pix:block_weplay|level_3]]) no-repeat;
}
.block_wp-level.level-4 {
    background: url([[pix:block_weplay|level_4]]) no-repeat;
}
.block_wp-level.level-5 {
    background: url([[pix:block_weplay|level_5]]) no-repeat;
}

.block_weplay nav.navbar {
     box-shadow: none;
}

.block_weplay .progress-bar {
    background-color: #868e96;
}

.block_weplay p {
    color: rgba(0,0,0,.5);
}

.avatar a, .leaderboard a, .history a{
    color: #868e96;
}

.leaderboard table td{
     vertical-align: central;
}